<% if @profile["instagram_my_feed"] == "on" %>
  <section class="instagram_my_feed">
    <h2>My Instagram</h2>
    <% @insta_response["data"].each do |instagram| %>
    <div class="insta_image">
      <a href="<%= instagram["link"] %>"><img src="<%= instagram["images"]["low_resolution"]["url"] %>"/></a>
      <br></br>
      <a href="http://instagram.com/<%= instagram["user"]["username"] %>" %><%= instagram["user"]["username"] %></a>
      <br></br>
    </div>
    <% end %>
  </section>
<% end %>

<!--     <%= render(:erb, :"_my_instagram.erb", :locals => {:response => @insta_response}) %> -->
