<a href="/feed">Back to My Moment of Zen</a>
<h2 id="profile_title">My Personal Profile</h2>
<section class="profile_info">
    <% @profiles.each do |profile| %>
    Name: </h4><%= profile["name"] %>
    <br></br>
    Age: <%= profile["age"] %>
    <br></br>
    City: <%= profile["city"] %>
    <br></br>
    State: <%= profile["state"] %>
    <br></br>
    Favorite ice-cream flavor: <%= profile["favorite ice-cream flavor"] %>
    <br></br>
    <br></br>
    Current Feeds:
    <br></br>

      <% if profile["nytimes_most_popular"] == "on" %>
        NYTimes Most Popular Articles: <%= profile["nytimes_most_popular"] %>
      <% else %>
        NYTimes Most Popular Articles: off
      <% end %>
      <br></br>

      <% if profile["nytimes_article_search"] == "on" %>
        NYTimes Search For Articles: <%= profile["nytimes_article_search"] %>
      <% else %>
        NYTimes Search For Articles: off
      <% end %>
      <br></br>

      <% if profile["local_weather"] == "on" %>
        Local Weather: <%= profile["local_weather"] %>
      <% else %>
        Local Weather: off
      <% end %>
      <br></br>

      <% if profile["twitter_my_timeline"] == "on" %>
        My Twitter Timeline: <%= profile["twitter_my_timeline"] %>
      <% else %>
        My Twitter Timeline: off
      <% end %>
      <br></br>

      <% if profile["twitter_search_result"] == "on" %>
        Twitter Search Result: <%= profile["twitter_search_result"] %>
      <% else %>
        Twitter Search Result: off
      <% end %>
      <br></br>

      <% if profile["instagram_my_feed"] == "on" %>
        My Instagram Timeline: <%= profile["instagram_my_feed"] %>
      <% else %>
        My Instagram Timeline: off
      <% end %>
      <br></br>

      <% if profile["instagram_searched_feed"] == "on" %>
        Instagram Search Results: <%= profile["instagram_searched_feed"] %>
      <% else %>
        Instagram Search Results: off
      <% end %>
      <br></br>

    <% end %>
    <a href="/profile/edit">Edit My Profile</a>
</section>
