<!-- code that I was working on but no longer needed, keeping here for future reference -->
<h2>You searched for <%= @q %>: </h2>
<% @search_parsed_response["response"]["docs"].each do |article| %>
  <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
  <p><%= article["snippet"] %></p>
  <br></br>
<% end %>



<section class="nytimes_searched">
  <h2>Searched Stories</h2>
  <% binding.pry %>
  <% @search_parsed_response["response"]["docs"].each do |article| %>
    <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
    <p><%= article["snippet"] %></p>
    <br></br>
  <% end %>
</section

<section class="nytimes_searched">
  <h2>You searched for <%= @q %>: </h2>
  <% @binding.pry %>
  <h2>Searched Stories</h2>
  <% @search_parsed_response["response"]["docs"].each do |article| %>
    <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
    <p><%= article["snippet"] %></p>
    <br></br>
  <% end %>
</section>
/feed/:query


<section class="nytimes_searched">
  <h2>You searched for <%= @q %>: </h2>
  <h2>Searched Stories</h2>
  <% @search_parsed_response["response"]["docs"].each do |article| %>
    <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
    <p><%= article["snippet"] %></p>
    <br></br>
  <% end %>
</section>


  <section class="nytimes_searched">
    <h2>Searched: Stories on <%= @q %></h2>
    <% @search_parsed_response["response"]["docs"].each do |article| %>
      <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
      <p><%= article["snippet"] %></p>
      <br></br>
    <% end %>
  </section>


<% if profile["nytimes_most_popular"] == "on" and profile["nytimes_article_search"] != "on" and profile["local_weather"] != "on"%>
                         <label for="nytimes_most_popular">NYTimes Most Popular Articles</label>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular" checked>
                         <br></br>
                         <label for="nytimes_article_search">NYTimes Search For Articles</label>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search">
                         <br></br>
                         <label for="local_weather">Local Weather</label>
                         <input id="local_weather" type="checkbox" name="local_weather">
                         <br></br>
                    <% elsif profile["nytimes_article_search"] == "on" and profile["nytimes_most_popular"] != "on" and profile["local_weather"] != "on" %>
                         <label for="nytimes_article_search">NYTimes Search For Articles</label>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search" checked>
                         <br></br>
                         <label for="nytimes_most_popular">NYTimes Most Popular Articles</label>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular">
                         <br></br>
                         <label for="local_weather">Local Weather</label>
                         <input id="local_weather" type="checkbox" name="local_weather">
                         <br></br>
                    <% elsif profile["local_weather"] == "on" and profile["nytimes_most_popular"] != "on" and profile["nytimes_article_search"] != "on" %>
                         <label for="local_weather">Local Weather</label>
                         <input id="local_weather" type="checkbox" name="local_weather" checked>
                         <br></br>
                         <label for="nytimes_article_search">NYTimes Search For Articles</label>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search">
                         <br></br>
                         <label for="nytimes_most_popular">NYTimes Most Popular Articles</label>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular">
                         <br></br>


<% @profiles.each do |profile| %>


               <% end %>
 <% if profile["nytimes_most_popular"] == "on" %>
                         <label for="nytimes_most_popular">NYTimes Most Popular Articles</label>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular" checked>
                         <br></br>
                    <% elsif profile["nytimes_article_search"] == "on" %>
                         <label for="nytimes_article_search">NYTimes Search For Articles</label>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search" checked>
                         <br></br>
                    <% elsif profile["local_weather"] == "on" %>
                         <label for="local_weather">Local Weather</label>
                         <input id="local_weather" type="checkbox" name="local_weather" checked>
                         <br></br>
                    <% else %>
                         <label for="nytimes_most_popular">NYTimes Most Popular Articles</label>
                         <input id="nytimes_most_popular" type="checkbox" name="nytimes_most_popular">
                         <br></br>
                         <label for="nytimes_article_search">NYTimes Search For Articles</label>
                         <input id="nytimes_article_search" type="checkbox" name="nytimes_article_search">
                         <br></br>
                         <label for="local_weather">Local Weather</label>
                         <input id="local_weather" type="checkbox" name="local_weather">
                         <br></br>


  # get('/feed/:id') do
  #   # feed_id = params[:id]
  #   # if feed_id == "nytimes"
  #   article_response = HTTParty.get("http://api.nytimes.com/svc/mostpopular/v2/mostviewed/all-sections/1.json?api-key=#{NYTIMES_MOST_POPULAR_API_KEYS}")
  #   @parsed_response = JSON.parse article_response.to_json

  #   binding.pry
  #   render(:erb, :show)
  # end



  # gives back specific nytimes articles according to the search key word
  # get('/feed/:query') do
  #   @q = params["query"]
  #   binding.pry
  #   response = HTTParty.get("http://api.nytimes.com/svc/search/v2/articlesearch.json?q=#{@q}&api-key=#{NYTIMES_ARTICLE_SEARCH_API_KEYS}")
  #   @search_parsed_response = JSON.parse response.to_json
  #   render(:erb, :show)
  # end




  get('/twitter') do

    client = Twitter::REST::Client.new do |config|
      config.consumer_key         = TWITTER_API_KEYS
      config.consumer_secret      = TWITTER_API_SECRET
      config.access_token         = TWITTER_ACCESS_TOKEN
      config.access_token_secret  = TWITTER_ACCESS_TOKEN_SECRET
    end

    # topics = ["coffee", "tea"]
    # client.filter(:track => topics.join(",")) do |object|
    #   puts object.text if object.is_a?(Twitter::Tweet)
    # end
    binding.pry
    client.home_timeline
    # twitter_response = HTTParty.get("https://api.twitter.com/1.1/statuses/home_timeline.json")

  end



    <section class="location_bar">
      <form action="/feed" method="POST">
        <br></br>
        <input id="city" type="text" placeholder="City" required name="city">
        <input id="state" type="text" placeholder="State" required name="state">
        <input type="submit" value="Update Location"/>
      </form>
    </section>
