
<section class="my_feeds">
  <section class="sticky_things_on_top">
      <header>
          <nav>
            <div id="back_to_home_page_link">
              <a href="/">Home</a>
            </div>
            <div id="my_profile_link">
              <a href="/profile">My Sample Profile</a>
            </div>
          </nav>
      </header>

     <% if @profile["local_weather"] == "on" %>
      <section class="weather">
        <p><%= @city.gsub("%20", " ") %>, <%= @state %>: <%= @temp_in_f %>F</p>
      </section>
    <% end %>

    <section class="search_bar">
      <form action="/feed" method="POST">
        <br></br>
        <input id="query" type="text" placeholder="Search keyword..." required name="query">
        <input type="submit" value="Search"/>
      </form>
    </section>
  </section>

    <section class="my_instagram">
      <% if @profile["instagram_my_feed"] == "on" %>
        <section class="instagram_my_feed">
          <h2 id="insta_section_title">Instagram - My Feed</h2>
          <% @insta_response["data"].each do |instagram| %>
            <section class="insta_image">
              <a href="<%= instagram["link"] %>"><img src="<%= instagram["images"]["low_resolution"]["url"] %>"/></a>
              <br></br>
              <a href="http://instagram.com/<%= instagram["user"]["username"] %>" %><%= instagram["user"]["username"] %></a>
              <br></br>
            </section>
          <% end %>
        </section>
        <br></br>
      <% end %>

      <% if @profile["instagram_searched_feed"] == "on" %>
        <section class="instagram_searched_feed">
          <h2 id="insta_section_title">Instagram - Searched for <%= @q %></h2>
          <% @insta_searched_response["data"].each do |instagram| %>
            <section class="insta_searched_image">
              <a href="<%= instagram["link"] %>"><img src="<%= instagram["images"]["low_resolution"]["url"] %>"/></a>
              <br></br>
              <a href="http://instagram.com/<%= instagram["user"]["username"] %>" %><%= instagram["user"]["username"] %></a>
              <br></br>
            </section>
          <% end %>
        </section>
      <% end %>
      <br></br>
    </section>

    <% if @profile["nytimes_article_search"] == "on" %>
      <section class="nytimes_article_search">
        <h2 id="section_title">NYTimes - Stories on <%= @q %></h2>
          <section class="nytimes_searched">
            <% @search_parsed_response["response"]["docs"].each do |article| %>
              <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
              <p><%= article["snippet"] %></p>
              <br></br>
            <% end %>
          </section>
      </section>
    <% end %>

    <% if @profile["nytimes_most_popular"] == "on" %>
      <section class ="nytimes_popular">
        <h2 id="section_title">Most Popular on NYTimes</h2>
          <section class="nytimes_most_popular">
            <% @parsed_response["results"].each do |article| %>
              <a href="<%= article["url"] %>"><%= article["title"] %></a>
              <p><%= article["abstract"] %></p>
              <br></br>
            <% end %>
          </section>
      </section>
    <% end %>

    <% if @profile["twitter_search_result"] == "on" %>
    <section class="twitter_search">
      <h2 id="section_title">Twitter - Searched for <%= @q %></h2>
        <section class="twitter_search_result">
          <% @twitter_search_result.each do |tweet| %>
            <p><%= tweet %></p>
            <br>
          <% end %>
        </section>
    </section>
    <% end %>

    <% if @profile["twitter_my_timeline"] == "on" %>
      <section class="twitter_timeline">
        <h2 id="section_title">My Twitter Timeline</h2>
          <section class="twitter_my_timeline">
            <% @my_tweets.each do |tweet| %>
              <p><%= tweet %></p>
              <br></br>
            <% end %>
          </section>
      </section>
    <% end %>

</section>

