<a href="/">Home</a>

<section class="search_bar">
  <form action="/feed" method="POST">
    <br></br>
    <input id="query" type="text" placeholder="Search..." required name="query">
    <input type="submit" value="Search NYTimes"/>
  </form>
</section>

<section class="location_bar">
  <form action="/feed" method="POST">
    <br></br>
    <input id="city" type="text" placeholder="City" required name="city">
    <input id="state" type="text" placeholder="State" required name="state">
    <input type="submit" value="Update Location"/>
  </form>
</section>

<% if @profile["local_weather"] == "on" %>
  <section class="weather">
    <p>The current temperature in <%= @city.gsub("%20", " ") %>, <%= @state %> is <%= @temp_in_f %> degrees.</p>
  </section>
<% end %>

<section class="nytimes_articles">
  <% if @profile["nytimes_most_popular"] == "on" %>
    <section class="nytimes_most_popular">
      <h2>Most Popular Stories</h2>
      <% @parsed_response["results"].each do |article| %>
        <a href="<%= article["url"] %>"><%= article["title"] %></a>
        <p><%= article["abstract"] %></p>
        <br></br>
      <% end %>
    </section>
  <% end %>

  <% if @profile["nytimes_article_search"] == "on" %>
    <section class="nytimes_searched">
      <h2>Searched: Stories on <%= @q %></h2>
      <% @search_parsed_response["response"]["docs"].each do |article| %>
        <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
        <p><%= article["snippet"] %></p>
        <br></br>
      <% end %>
    </section>
  <% end %>
</section>

<% if @profile["twitter"] == "on" %>
  <section class="twitter_my_timeline">
    <h2>My Twitter Timeline</h2>
    <% @my_tweets.each do |tweet| %>
      <p><%= tweet %></p>
      <br></br>
    <% end %>
  </section>
<% end %>

<% if @profile["instagram"] == "on" %>
  <section class="instagram_my_posts">
    <h2>My Instagram</h2>
    <% @insta_response["data"].each do |instagram| %>
    <a href="<%= instagram["link"] %>"><img src="<%= instagram["images"]["low_resolution"]["url"] %>"/></a>
    <a href="http://instagram.com/<%= instagram["user"]["username"] %>" %><%= instagram["user"]["username"] %></a>
      <br></br>
    <% end %>
  </section>
<% end %>
