<a href="/">Home</a>

<section class="search_bar">
  <form action="/feed" method="POST">
    <br></br>
    <input id="query" type="text" placeholder="Search..." required name="query">
    <input type="submit" value="Search NYTimes"/>
  </form>
</section>

<section class="location_bar">
  <form action="/feed" method="POST">
    <br></br>
    <input id="city" type="text" placeholder="City" required name="city">
    <input id="state" type="text" placeholder="State" required name="state">
    <input type="submit" value="Update Location"/>
  </form>
</section>

<section class="weather">
  <p>The current temperature in <%= @city.gsub("%20", " ") %>, <%= @state %> is <%= @temp_in_f %> degrees.</p>
</section>

<section class="nytimes_articles">
  <section class="nytimes_most_popular">
    <h2>Most Popular Stories</h2>
    <% @parsed_response["results"].each do |article| %>
      <a href="<%= article["url"] %>"><%= article["title"] %></a>
      <p><%= article["abstract"] %></p>
      <br></br>
    <% end %>
  </section>

  <section class="nytimes_searched">
    <h2>Searched: Stories on <%= @q %></h2>
    <% @search_parsed_response["response"]["docs"].each do |article| %>
      <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
      <p><%= article["snippet"] %></p>
      <br></br>
    <% end %>
  </section>
</section>


