<a href="/">Home</a>

<section class="my_feeds">

    <section class="search_bar">
      <form action="/feed" method="POST">
        <br></br>
        <input id="query" type="text" placeholder="Search keyword..." required name="query">
        <input type="submit" value="Search"/>
      </form>
    </section>

     <% if @profile["local_weather"] == "on" %>
      <section class="weather">
        <p><%= @city.gsub("%20", " ") %>, <%= @state %> current temperature: <%= @temp_in_f %> degrees F.</p>
      </section>
    <% end %>

    <section class="my_instagram">
      <% if @profile["instagram_my_feed"] == "on" %>
        <section class="instagram_my_feed">
          <h2>Instagram - My Feed</h2>
          <% @insta_response["data"].each do |instagram| %>
            <section class="insta_image">
              <a href="<%= instagram["link"] %>"><img src="<%= instagram["images"]["low_resolution"]["url"] %>"/></a>
              <br></br>
              <a href="http://instagram.com/<%= instagram["user"]["username"] %>" %><%= instagram["user"]["username"] %></a>
              <br></br>
            </section>
          <% end %>
        </section>
        <br></br>
      <% end %>

      <% if @profile["instagram_searched_feed"] == "on" %>
        <section class="instagram_searched_feed">
          <h2>Instagram - Searched for <%= @q %></h2>
          <% @insta_searched_response["data"].each do |instagram| %>
            <section class="insta_searched_image">
              <a href="<%= instagram["link"] %>"><img src="<%= instagram["images"]["low_resolution"]["url"] %>"/></a>
              <br></br>
              <a href="http://instagram.com/<%= instagram["user"]["username"] %>" %><%= instagram["user"]["username"] %></a>
              <br></br>
            </section>
          <% end %>
        </section>
      <% end %>
      <br></br>
    </section>

    <% if @profile["nytimes_article_search"] == "on" %>
      <section class="nytimes_searched">
        <h2>NYTimes - Stories on <%= @q %></h2>
        <% @search_parsed_response["response"]["docs"].each do |article| %>
          <a href="<%= article["web_url"] %>"><%= article["headline"]["main"] %></a>
          <p><%= article["snippet"] %></p>
          <br></br>
        <% end %>
      </section>
    <% end %>

    <% if @profile["nytimes_most_popular"] == "on" %>
      <section class="nytimes_most_popular">
        <h2>Most Popular on NYTimes</h2>
        <% @parsed_response["results"].each do |article| %>
          <a href="<%= article["url"] %>"><%= article["title"] %></a>
          <p><%= article["abstract"] %></p>
          <br></br>
        <% end %>
      </section>
    <% end %>

    <% if @profile["twitter_my_timeline"] == "on" %>
      <section class="twitter_my_timeline">
        <h2>My Twitter Timeline</h2>
        <% @my_tweets.each do |tweet| %>
          <p><%= tweet %></p>
          <br></br>
        <% end %>
      </section>
    <% end %>

      <% if @profile["twitter_search_result"] == "on" %>
      <section class="twitter_search_result">
        <h2>Twitter - Searched for <%= @q %></h2>
        <% @twitter_search_result.each do |tweet| %>
          <p><%= tweet %></p>
          <br>
        <% end %>
      </section>
    <% end %>
  </section>

